<section id="hero" class="d-flex align-items-center" style="background-color: white;height: auto;">

    <!-- Contact Image -->

    <div class="container-fluid">
      <div class="row">
        <div
          class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <img src="assets/img/about/aboutus.jpg" class="mx-auto d-block" style="width:100%;object-fit: cover;">
        </div>
      </div>
    </div>
    <!-- End Contact-->
  </section>


<!----------------------------------------------------------->
<main id="main">
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          We are highly evolutionized technical team to address all the business software automative requirements
          where we deliver the products with passion ,innovation and creativity with great pace in providing faster,
          reliable and secure applications right to meet your business requirements
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i>We always works with cutting edges to give brand new product
            quality with highly optimized architectutral patterns.</li>
        </ul>

      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <ul>

          <li><i class="ri-check-double-line"></i>Emerging Technologies: In addition, our award-winning work in
            mobility, AI&ML,AR, VR, IoT and Wearables has enabled our customers to pride themselves of some of the
            most outstanding apps and life-impacting technology applications.</li>
          <li><i class="ri-check-double-line"></i> Project Delivery: Everyone that is associated with Technology
            realizes the challenges associated with on-time, in-budget delivery. We pride ourselves of being able to
            consistently achieve a less than 10% spillage relative to the projected budget and time constraints.
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>

<!------------------------------------------------------------>

<section id="team1">

  <div class="container my-3 py-5 text-center">
    <div class="row mb-5">
      <div class="section-title">
        <h2>BOARD OF DIRECTORS</h2>
        <p class="my-3">
          This team page has a quirky, vibrant energy that immediately catches your attention – a good
          sign for a design company.
        </p>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 pt-1">
        <div class="card h-100">
          <div class="card-body">
            <img class="img-fouild rounded w-75 mb-3" src="./../../assets/img/team/team.jpg" alt="Sophie">
            <h3>B B S Reddy</h3>
            <h5>Founder</h5>
            <p>An excellent executive with strong problem solving and analytical skills.</p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2">
                <a href="https://www.facebook.com/Bharath.REDDY.Simha" target="_blank">
                  <i class="ri-facebook-fill"></i>
                </a>
              </div>
              <div class="p-2">
                <a href="https://twitter.com/BBSREDDY_CA" target="blank">

                  <i class="ri-twitter-fill"></i>
                </a>
              </div>
              <div class="p-2">
                <a href="https://www.instagram.com/reddybbs/" target="blank">
                                <i class=" ri-instagram-fill"></i>
                </a>
              </div>
              <div class="p-2">
                <a href="https://www.linkedin.com/in/bharathsimhareddy/" target="blank">
                  <i class="ri-linkedin-box-fill"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
<!---------------------------------------------------------------------------------------------->      