<section id="hero" class="d-flex align-items-center" style="background-color: white;height: auto;">

    <!-- Contact Image -->

<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
    data-aos="fade-up" data-aos-delay="200">   
      <img src="assets/img/net/net.png" class="mx-auto d-block" style="width:100%;object-fit: cover;">
    </div>    
  </div>
  </div> 
<!-- End Contact-->
</section>

<!------------------------>

<div class="section-title">
    <h2>.Net</h2>
  </div>
  <div class="container">
  <details>
    <summary class="titlee1">Senior - .Net Developer (2 - 4 years experience)</summary>
    <div class="contentt"><b>Job Description :</b>
    <p>We are looking to recruit .net Developers with 2-4 years of working experience.</p>
    <b class="skillss">Technical Skills Required:</b>
    <ul>
      <li>Minimum 2-4 years of experience in .Net Framework, C# , ASP.Net, SQL Server 2005/ 2008.</li>
      <li>Strong database programming skills(T-SQL)</li>
      <li>Hands on experience in product/ project development using MVC</li>
      <li>Well-versed with JavaScript, AJAX, Web services, Threading</li>
      <li>Hands on experience with CSS, JavaScript and jQuery.</li>
    </ul>
    <b class="skillss"> Responsibilities</b>
    <ul>
      <li>Design ,Develop and maintain simple to complex .net applications.</li>
      <li>Investigate and develop skills in new technologies</li>
      <li>Upgrading, configuring and debugging existing systems.</li>
      <li>not limited to ASP.NET, SQL Server, HTML, CSS, JavaScript, and C#/VB.NET</li>
      <li>Monitor everyday activities of system and provide require support.</li>
    </ul>
    <b class="skillss">Other Skills Required :</b>
    <ul>
      <li>Team player with good interpersonal skills.</li>
      <li>Problem solver, good reasoning and analytical skills.</li>
      <li>Good listening skills.</li>
    </ul>
      <div class="text-center">
      <a [routerLink]="['form']" href="" class="get-started-btn scrollto mt-5 mb-3" target="_blank">Apply</a>
      </div>
    </div>
  </details>
  <details>
    <summary class="titlee1">Senior - React Developer (2 - 4 years experience)</summary>
    <div class="contentt"><b>Job Description :</b>
      <p>We are looking to recruit React Developers with 2-4 years of working experience.</p>
      <b class="skillss">Technical Skills Required:</b>
      <ul>
        <li>Highly knowledgeable on scalable and usable UI components and Front-end architecture.</li>
        <li>Solid understanding of React and Redux. Strong hands in JavaScript. </li>
        <li>Experience with modern web technologies and techniques such as HTML5, CSS3, ECMAScript 2016, CSS pre-processors (SASS).</li>
        <li>Experience with Node.js and the NPM package ecosystem.</li>
        <li>Skilled in ES6, Async Generator, Event-loop.</li>
      </ul>
      <b class="skillss"> Responsibilities</b>
      <ul>
        <li>Delivering a complete front end application.</li>
        <li>Writing tested, idiomatic, and documented JavaScript, HTML and CSS</li>
        <li>Thorough with React development.</li>
        <li>Cooperating with the back-end developer in the process of building the RESTful API</li>
      </ul>
      <b class="skillss">Other Skills Required :</b>
      <ul>
        <li>Team player with good interpersonal skills.</li>
        <li>Problem solver, good reasoning and analytical skills.</li>
        <li>Good listening skills.</li>
      </ul>
        <div class="text-center">
        <a [routerLink]="['form']" href="" class="get-started-btn scrollto mt-5 mb-3" target="_blank">Apply</a>
        </div>
      </div>
  </details>
  <details>
    <summary class="titlee1">Fesher - .Net Developer (0-1 years experience)</summary>
    <div class="contentt"><b>Job Description :</b>
      <p>We are looking to recruit Fresh Software Engineers with excellent programming skills and candidate will have to go through an extensive ANGULAR training program for 2-3 months</p>
      <b class="skillss">Technical Skills Required:</b>
      <ul>
        <li>Knowledge on Angular 4+.</li>
        <li>Basic Knowledge on TypeScript.</li>
        <li>Basic knowledge with HTML / CSS /Bootstrap.</li>
        <li>Git knowledge is a plus.</li>
      </ul>
      <b class="skillss"> Responsibilities</b>
      <ul>
        <li>Delivering a complete front end application.</li>
        <li>Writing tested, idiomatic, and documented JavaScript, HTML and CSS</li>
        <li>Thorough with Angular 4+ development.</li>
        <li>Cooperating with the back-end developer in the process of building the RESTful API</li>
      </ul>
      <b class="skillss">Other Skills Required :</b>
      <ul>
        <li>Team player with good interpersonal skills.</li>
        <li>Problem solver, good reasoning and analytical skills.</li>
        <li>Good listening skills.</li>
      </ul>
        <div class="text-center">
        <a [routerLink]="['form']" href="" class="get-started-btn scrollto mt-5 mb-3" target="_blank">Apply</a>
        </div>
      </div>
  </details>
</div>

<!---------------------------------------------------->

<div class="section-title" style="margin-top: 25px;">
    <h2>We have the following open positions</h2>
  </div>  
  <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3">
          <a href="angular.html">
            <div class="box">
                <img src="assets/img/angular1.png">
                <div class="box-content">
                    <h3 class="name">Angular</h3>
                    <span class="post">Experience: 0-1</span>
                </div>
            </div>
          </a>  
        </div>
        
        <div class="col-md-3 col-sm-3">
          <a href="net.html">
            <div class="box">
                <img src="assets/img/net2.jpg">
                <div class="box-content">
                    <h3 class="name">.Net</h3>
                    <span class="post">Experience: 0-1</span>
                </div>
            </div>
          </a>  
        </div>
      
        <div class="col-md-3 col-sm-3">
          <a href="angularionic.html">
            <div class="box">
                <img src="assets/img/ionic-icon.png">
                <div class="box-content">
                    <h3 class="name">AngularIonic</h3>
                    <span class="post">Experience: 0-1</span>
                </div>
            </div>
          </a>  
        </div>

        <div class="col-md-3 col-sm-3">
          <a href="hr.html">
            <div class="box">
                <img src="assets/img/hr.png">
                <div class="box-content">
                    <h3 class="name">HR Management</h3>
                    <span class="post">Experience: 0-1</span>
                </div>
            </div>
          </a>  
        </div>
        
    </div>
    
</div>
