<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
  
      <!-- <h1 class="logo mr-auto"><a href="index.html">Arsha</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a [routerLink]="['home']" href="" class="logo mr-auto"><img src="assets/img/Smart Vibes Logo.png" alt="" class="img-fluid"></a>
  
      <nav class="nav-menu d-none d-lg-block mr-5">
        <ul class="justify-content-center">
          <li [routerLinkActive]="['active']"><a [routerLink]="['home']" href="">HOME</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['about']" href="">ABOUT</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['services']" href="">SERVICES</a></li>
          
          <li [routerLinkActive]="['active']"><a [routerLink]="['careers']" href="">CAREERS</a></li>
          <!--<li [routerLinkActive]="['active']"><a [routerLink]="['blog']" href="">BLOG</a></li>-->
        </ul>
        
  
      </nav><!-- .nav-menu -->
  
      <a [routerLinkActive]="['active']" [routerLink]="['contact']" href="" class="get-started-btn scrollto ml-5">CONTACT</a>
      
    </div>
  </header> 