<br><br><br><br><br><br>
<div class="container">
    <div class="row justify-content-center aos-init aos-animate" data-aos="fade-up">

        <div class="col-lg-10">
    
          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>#11,5th Main Rd,
                 Papanna Block,Ak Colony
                  Ganga Nagar,Bengaluru</p>
              </div>
    
              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>ayvaktechnologies@gmail.com<br>info@ayvaktechnologies.com</p>
              </div>
    
              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 080-4224 8680<br>+91 7406 4568 08</p>
              </div>
            </div>
          </div>
    
        </div>
    
      </div>

    
</div>
