
<br><br><br><br><br>
<div class="timeline">
    <div class="timeline__event animated delay-3s timeline__event--type1 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
        <div class="timeline__event__icon ">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="timeline__event__date">
            DISCOVER
        </div>
        <div class="timeline__event__content ">
            <div class="timeline__event__title">
                Discover
            </div>
            <div class="timeline__event__description">
                <p>We do a brief investigation of your requirement which gives us the clear picture of your digital strategy.</p>
            </div>
        </div>
    </div>
    <div class="timeline__event animated delay-2s timeline__event--type2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
        <div class="timeline__event__icon">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
        </div>
        <div class="timeline__event__date">
            DESIGN
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Design
            </div>
            <div class="timeline__event__description">
                <p>We craft a modern purposeful design which reflect your ideas. It indicate the direction for the entire project.</p>
            </div>
        </div>
    </div>
    <div class="timeline__event animated delay-1s timeline__event--type3 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
        <div class="timeline__event__icon">
            <i class="fa fa-desktop" aria-hidden="true"></i>
        </div>
        <div class="timeline__event__date">
            IMPLEMENT
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Implement
            </div>
            <div class="timeline__event__description">
                <p>We bring the design to interactive prototype, it works before you move forward towards building it.</p>
            </div>

        </div>
    </div>
    <div class="timeline__event animated timeline__event--type2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
        <div class="timeline__event__icon">
            <i class="fa fa-laptop" aria-hidden="true"></i>
        </div>
        <div class="timeline__event__date">
            DEVELOP
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Develop
            </div>
            <div class="timeline__event__description">
                <p>We create the highly quality of code, to bring incorporate implementation into complete functional system.</p>
            </div>
        </div>
    </div>
    <div class="timeline__event animated delay-1s timeline__event--type3 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
        <div class="timeline__event__icon">
            <i class="fa fa-laptop" aria-hidden="true"></i>
        </div>
        <div class="timeline__event__date">
            DEPLOY
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Deploy
            </div>
            <div class="timeline__event__description">
                <p>Final stage of our process to deploy the whole project into the digital world after review, refine, test and prepare the final product.</p>
            </div>

        </div>
    </div>
    <div class="timeline__event animated timeline__event--type2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
        <div class="timeline__event__icon">
            <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
        <div class="timeline__event__date">
            Support
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Support
            </div>
            <div class="timeline__event__description">
                <p>24/7</p>
            </div>
        </div>
    </div>
</div>