
  <div class="section-title">
    <h2 style="margin-top: 120px;">Apply Now</h2>
  </div>

  <div class="container-fluid">
  <div class="col-md-6 offset-md-3 card card-5 ">
     
     <form action="forms/contact.php" method="post" role="form" class="php-email-form">
      <div class="row">
        <div class="form-group">
          <label for="name" ></label>
          <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
            data-msg="Please enter at least 4 chars" placeholder="Full Name"/>
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <label for="email"></label>
          <input type="email" class="form-control" name="email" id="email" data-rule="email"
            data-msg="Please enter a valid email" placeholder="Email"/>
          <div class="validate"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="subject"></label>
        <input type="text" list="subjects" class="form-control" name="subject" id="subject" data-rule="minlen:4"
          data-msg="Please enter at least 8 chars of subject" placeholder="Subject"/>
          <datalist id="subjects">
            <option value="Angular">
            <option value="Angular Ionic">
            <option value=".Net">
            <option value="HR Management">
          </datalist>
        <div class="validate"></div>
      </div>
      <div class="form-group">
        <label for="experience"></label>
        <input type="text" list="experiences" class="form-control" name="experience" id="experience" data-rule="minlen:4"
          data-msg="Please enter at least 8 chars of subject" placeholder="Work Experience"/>
          <datalist id="experiences">
            <option value="Internship">
            <option value="Fesher">
            <option value="0-1 year Experience">
            <option value="2-4 year Experience">
          </datalist>
        <div class="validate"></div>
      </div>
      <div class="form-group">
        <label for="city"></label>
        <input type="text" class="form-control" name="city" id="city" data-rule="minlen:4"
          data-msg="Please enter at least 8 chars of subject" placeholder="City"/>
        <div class="validate"></div>
      </div>
      
      <div class="form-group">
        <label for="mobile"></label>
        <input type="text" class="form-control" name="mobile" id="mobile" data-rule="minlen:4"
        pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" data-msg="Please enter at least 8 chars of subject" placeholder="Mobile"/>
        <div class="validate"></div>
      </div>
      
      <div class="form-group">
        <label for="dfb"></label>
        <input type="date" name="dfb" class="form-control" id="dfb" data-rule="minlen:4"
          data-msg="Please enter at least 4 chars" placeholder="BirthDate"/>
        <div class="validate"></div>
      </div>
     
      <div class="form-group">
        <label for="gender"></label>
        <input type="text" list="genders" class="form-control" name="gender" id="gender" data-rule="minlen:4"
          data-msg="Please enter at least 8 chars of subject" placeholder="Gender"/>
          <datalist id="genders">
            <option value="Male">
            <option value="Female">
            <option value="Other">
          </datalist>
        <div class="validate"></div>
      </div>

      <div class="form-group">
        <label for="resume"></label>
        <input type="file" name="resume" class="form-control" id="resume" data-rule="minlen:4"
          data-msg="Please enter at least 4 chars" placeholder="Resume"/>
        <div class="validate"></div>
      </div>
      <div class="form-group">
        <label for="message"></label>
        <textarea class="form-control" name="message" rows="10" id="message" data-rule="required"
          data-msg="Please write something for us" placeholder="why should i hire you ?"></textarea>
        <div class="validate"></div>
      </div><br>
      <!--<div class="text-center"><button type="submit" class="btn btn-primary" onclick="SendData()">Submit</button></div>-->
      <div class="text-center"><button type="submit" onclick="SendData()">Submit</button></div>
           
    </form>
    
  </div>
</div>