<div class="section-title">
    <h2 style="margin-top: 120px;">Terms of service</h2>
  </div>

  <div class="container-fluid">
  <div class="col-md-6 offset-md-3 card card-5 ">
  <h4>Acceptance Of Terms</h4> 
  <p>Your use of SmartVibes and its designs are subjected to the following terms and conditions and apply to all contracts and all work undertaken by SmartVibes for its clients. Please read our terms and conditions carefully. By using this website, you choose to agree and accept our terms and conditions and privacy policy.</p>
   
   
  <h4>Service Terms</h4>
  <p>The service agreement will be effective on the date when signed by both parties and will end when terminated by either party in accordance with the terms and the agreement. SmartVibes has the authority to use its identifying mark which might come in the form of Logo, Design, URL or any types of brand identity to all the websites produced from here and it will come into force without any consent of its customers or clients.
  </p>
  <h4>Change in Use</h4>
  <p>SmartVibes reserves the sole right to:</p>
  <ul>
    <li>Change these Terms & Conditions and Privacy Policy at any time without any notice.</li>
    <li>Your continued use of this website following the alteration to the Terms & Conditions, you are deemed to accept the changes.
    </li>
    <li>We are not responsible for whether or not you review them. Do not use this website, if you choose not to accept and abide by these Terms & Conditions at any time.
    </li>
  </ul>
  <h4>Copyright</h4>
  <p>SmartVibes has the license to or otherwise permitted by law to use the trademarks, copyright and intellectual property rights of the site including (but not limited to) the website design, text, source codes and software connected to the website that is owned by us.
  </p>
  <p>Using this website, you are agreeing to access the content only for your personal and non-commercial use home use. You shall not duplicate, copy, reproduce, reuse, transmit the designs elements without the prior written consent of the copyright holder.
  </p>
  <p>You shall not download, display, perform, transmit, reproduce, license, publish, the creative works, or otherwise transfer, distribute or sell any information, material or content, software, services obtained from this website without the express written consent from the company.
  </p>
  <h4>Access To Information</h4>
  <p>To access SmartVibes services, the client may be asked to provide certain registration details or other information. The client acknowledges and confirms that all the information provided by the client is correct, current and complete, by accepting these terms & conditions. If SmartVibes believes the information provided by the client is not correct or complete, SmartVibes has the right to refuse the client's access to our website or services or any of our resources. The project can be terminated or suspended at any time. Calls may be recorded for training and quality purposes.
  </p>
  <h4>Project warranty & Source</h4>
  <ul>
    <li>SmartVibes warrants that for a period of ​12 ​months from the date of delivery (“Warranty Period”) the Project will be free from any bug fixing.
    </li>
     <li>The Project source code and other certificates for Android app and related to the project all the sources are assets of the Client only.
    </li>
    </ul>
  <h4>Confidentiality</h4>
   <ul>
    <li>A Party shall keep all information obtained from the other Party in connection with the performance of the Agreement strictly confidential and shall not disclose such information to any third party or the use it for any purpose other than the performance of the Agreement without the other Party’s prior written consent.
    </li>
    <li>The restrictions shall not apply to any information generally available to the public, obtained by a Party in good faith from a third party, independently developed by a Party without the use of the other Party’s information or required to be disclosed by law.
    </li>
  </ul>
  <h4>Termination</h4>
  <ul>
  <li>Either Party may terminate the Agreement at any time for any reason subject to ​60​ day’s written notice to the other Party.
  </li>
  <li>Either Party may terminate the Agreement by written notice to the other Party, effective immediately if the other Party fails to remedy any material breach of the Agreement within 30​ days of receiving written notice of such breach.
  </li>
  <li>In case of termination, the fees shall be paid in full to the company.
  </li>
  </ul>
  <h4>Damage Clause/Change Request</h4>
  <p>In case of delay in execution of Project due to client-side change requests or frequent modifications except for Force Majeure cases,
  </p>
  <li>The Client shall pay to the Company for every change request or delay in responding to the company a penalty amounting to 3% of the Total value of the milestone whose response has been delayed.
  </li>
  <li>The Company is entitled to terminate this Contract and claim damages, In accordance with the terms of the agreement. However, the Client will still be responsible for the above-mentioned Charges.
  </li>
  <h4>Agreement To the Policy</h4>
  <p>By submitting any kind of your personal information to our website, it indicates your acceptance of the terms given above. In case of any queries or concerns, you are always free to contact us for further assistance.
  </p>
  </div>
</div>

