<section id="hero" clheroass="d-flex align-items-center" style="background-color:white;height: auto;">
    <div class="container-fluid">
  
      <div class="row">
           <div class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up" data-aos-delay="200">   
          <img src="assets/img/service/service1.jpg" class="mx-auto d-block" style="width:100%;object-fit: cover;">
           </div>
      </div>
      </div>
    </section>  

<main id="main">
    <div class="section-title">
        <h2>Services</h2>
        <p>We provide best in class services in the following sectors.</p>
      </div>
    
    <div class="container coree">
      
      
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 cardd">
            <div class="face face1">
                <div class="content text-center">
                    <img src="../../assets/services/undraw_responsive_6c8s.svg">
                    <h3> Cross-platform Web <br> Applications</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>We build best web applications with cutting edge technology.To fit the customers requirements and customers happiness is our top priority.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4 cardd">
          <div class="face face1">
              <div class="content text-center">
                  <img src="../../assets/services/undraw_Mobile_application_mr4r.svg">
                  <h3>Native & Hybrid Mobile Applications</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>We provide hybrid & native mobile apps development to make customer to get full performance, richness.We will give the best options to the customer as per requirement . </p>
              </div>
          </div>
      </div>
        <div class="col-lg-4 col-md-4 col-sm-4 cardd">
            <div class="face face1">
                <div class="content text-center">
                    <img src="../../assets/services/undraw_cloud_hosting_aodd.svg">
                    <h3>Efficient Cloud <br> Management</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>We are the team of specialised cloud management. we use top industry grade ci/cd on top cloud providers like AWS,AZURE,GOOOGLE CLOUD, etc.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 cardd carddd">
          <div class="face face1">
              <div class="content text-center">
                  <img src="../../assets/services/undraw_robotics_kep0.svg">
                  <h3>Machine Learning <br> Algorithms</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>We use ML/AL algorithms to make customers business effective.And we Make algorithms most efficient with great testing for every trained AL/ML Models with customer satisfaction.</p>
              </div>
          </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 cardd carddd">
        <div class="face face1">
            <div class="content text-center">
                <img src="../../assets/services/undraw_nakamoto_2iv6.svg">
                <h3>Blockchain Enterprise <br> Solutions</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>We provide industry grade blockchain solutions to the customer requirements and our team will provide great assistance in building digital currencies and other projects with block chain architecture.</p>
            </div>
        </div>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-4 cardd carddd">
          <div class="face face1">
              <div class="content text-center">
                  <img src="../../assets/services/undraw_Mobile_re_q4nk.svg">
                  <h3>Customer Support <br> & Service</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>We provide our clients to set up customer support for their businesses and we recruit persons and train them.In such a manner that our support base will give grate satisfaction in their business models.</p>
              </div>
          </div>
      </div>
        </div>
    </div>
</main>
    