<style>
    .a{
        text-decoration: none;
    }
    li:hover{
        background-color:#47b2e4 ;
        color: black;
    }
</style>
<section id="specials" class="specials">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
           
            <h2 style="color: #47b2e4; text-align: center;">Our Services</h2>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link show" data-toggle="tab" href="#tab-1"> Cross-platform Web <br> Applications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-4">Native & Hybrid Mobile Applications</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-2">Efficient Cloud <br> Management</a>
                    </li> <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-5">Machine Learning <br> Algorithms</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">Blockchain Enterprise <br> Solutions</a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3 style="color: #47b2e4;"> Cross-platform Web <br> Applications</h3>
                                <p>We build best web applications with cutting edge technology.To fit the customers requirements and customers happiness is our top priority.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="./../../assets/services/undraw_responsive_6c8s.svg" alt="" width="350px" height="300px">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3 style="color: #47b2e4;">Native & Hybrid Mobile Applications</h3>
                                <p>We provide hybrid & native mobile apps development to make customer to get full performance, richness.We will give the best options to the customer as per requirement . </p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="./../../assets/services/undraw_Mobile_application_mr4r.svg" alt="" width="350px" height="200px">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3 style="color: #47b2e4;">Efficient Cloud <br> Management</h3>
                                <p>We are the team of specialised cloud management. we use top industry grade ci/cd on top cloud providers like AWS,AZURE,GOOOGLE CLOUD, etc.</p>    
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="./../../assets/services/undraw_cloud_hosting_aodd.svg" alt="" width="350px" height="270px">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3 style="color: #47b2e4;">Machine Learning <br> Algorithms</h3>
                                <p>We use ML/AL algorithms to make customers business effective.And we Make algorithms most efficient with great testing for every trained AL/ML Models with customer satisfaction.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="./../../assets/services/undraw_robotics_kep0.svg" alt="" width="350px" height="230px">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3 style="color: #47b2e4;">Blockchain Enterprise <br> Solutions</h3>
                                <p>We provide industry grade blockchain solutions to the customer requirements and our team will provide great assistance in building digital currencies and other projects with block chain architecture.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="./../../assets/services/undraw_nakamoto_2iv6.svg" alt="" width="350px" height="300px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>










